<%- include('partials/header'); -%>

<div class="container container-port">
  <div class="title services">
    <div class="title-box"></div>
    <div class="title-text">Services</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row service">
    <% services.forEach(s => { %>
      <% if(s.images.length > 0) { %>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <a href="<%= s.images[0] %>" data-lightbox="<%= s.class %>" data-title="<%= s.name %>">
            <div class="service-img <%= s.class %>">
              <div class="box"></div>
              <h3 class="text"><%= s.name %></h3>
              <p class="desc"><%= s.content %></p>
            </div>
          </a>
          <% for(let i=1; i<s.images.length; i++) { %>
            <a href="<%= s.images[i] %>" data-lightbox="<%= s.class %>" data-title="<%= s.name %>"></a>
          <% } %>
        </div>
      <% } else { %>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="service-img <%= s.class %>">
            <div class="box"></div>
            <h3 class="text"><%= s.name %></h3>
            <p class="desc"><%= s.content %></p>
          </div>
        </div>
      <% } %>
    <% }) %>
  </div>
</div>

<%- include('partials/footer'); -%>